@charset "UTF-8";
/*!
 * Marp / Marpit CodeCafé theme
 *
 * @theme codecafe
 * @author Noah Beij
 *
 * @auto-scaling true
 * @size 16:9 1920px 1080px
 * @size 4:3 1440px 1080px
 */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
section[data-class] {
  @import "https://assets.nbeij.nl/marp/highlights/highlightTheme.css";
  --color-background: #113428;
  --color-text: #fcfcfc;
  --color-background-code: #0d1117;
  --color-highlight-heading: #fffae8;
  --color-background-table-odd: #0e2a20;
  --color-table-border: #030a08;
  --color-text-inverted: #0d1117;
  --color-text-muted: #aaa;
  --color-highlight-error: #D33F49;
  --color-highlight-error-border: #9c242c;
  --color-highlight-warning: #fed53c;
  --color-highlight-warning-border: #dbad01;
  --color-highlight-success: #1ed12d;
  --color-highlight-success-border: #159220;
  --color-highlight-info: #92cefa;
  --color-highlight-info-border: #46acf7;
  --color-highlight-text: #0d1117;
  --color-link: #3185fc;
  --color-blue-table-border: #92cefa;
  --color-blue-table-background: #054472;
  --color-blue-table-background-odd: #0971bd;
  --color-green-table-border: #1ed12d;
  --color-green-table-background: #b8f5bd;
  --color-green-table-background-odd: #89ee91;
  --background-image: url("https://assets.nbeij.nl/marp/assets/logoDark.svg");
}
section[data-class] footer a {
  background-image: url("https://assets.nbeij.nl/marp/assets/logoCodeCafeDark.png");
}

section:where(:not([data-class])) {
  @import "https://assets.nbeij.nl/marp/highlights/highlightThemeLight.css";
  --color-background: #fffae8;
  --color-text: #0d1117;
  --color-background-code: #fff;
  --color-highlight-heading: #0d1117;
  --color-background-table-odd: #fff3c6;
  --color-table-border: #f4bf00;
  --color-text-inverted: #fff;
  --color-text-muted: #6882a9;
  --color-highlight-error: #D33F49;
  --color-highlight-error-border: #9c242c;
  --color-highlight-warning: #fed53c;
  --color-highlight-warning-border: #dbad01;
  --color-highlight-success: #1ed12d;
  --color-highlight-success-border: #159220;
  --color-highlight-info: #92cefa;
  --color-highlight-info-border: #209bf5;
  --color-highlight-text: #0d1117;
  --color-link: #3185fc;
  --color-blue-table-border: #92cefa;
  --color-blue-table-background: #def0fe;
  --color-blue-table-background-odd: #c9e7fd;
  --color-green-table-border: #1ed12d;
  --color-green-table-background: #b8f5bd;
  --color-green-table-background-odd: #89ee91;
  --background-image: url("https://assets.nbeij.nl/marp/assets/logoLight.svg");
}
section:where(:not([data-class])) footer a {
  background-image: url("https://assets.nbeij.nl/marp/assets/logoCodecafeLight.png");
}

section {
  padding: 0 1rem;
  background: var(--color-background);
  color: var(--color-text);
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  height: 1080px;
  letter-spacing: 3px;
  line-height: 1.7;
  padding: 30px 70px;
  position: relative;
  width: 1920px;
  word-wrap: break-word;
  z-index: 0;
}
section .columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
section .columns-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}
section .rows {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
section .rows-3 {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}
section .rows-auto {
  display: flex;
  flex-direction: column;
}
section .auto {
  display: flex;
}
section a {
  color: var(--color-link);
}
section > code,
section *:not(pre) > code {
  background: var(--color-background-code);
  color: var(--color-text);
  margin: -0.2em 0.2em 0.2em;
  padding: 0.2em;
  border-radius: 10px;
  font-family: "Consolas", monospace;
  font-weight: 400;
}
section pre {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
  line-height: 1.15;
  margin: 15px 0 30px;
  text-align: left;
}
section pre::part(auto-scaling) {
  max-height: 570px;
}
section pre > code {
  background: var(--color-background-code);
  box-sizing: content-box;
  color: var(--color-text);
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-family: "Consolas", monospace;
  font-weight: 400;
  min-width: 456px;
  padding: 0.4em 0.6em;
}
section[data-size="4:3"] pre > code {
  min-width: 328px;
}
section kbd {
  display: inline-block;
  padding: 5px 10px;
  font-family: Consolas, monospace;
  line-height: normal;
  line-height: 1em;
  vertical-align: middle;
  background-color: var(--color-background-code);
  border: solid 1px var(--color-text-muted);
  border-bottom-color: var(--color-text-muted);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--color-text-muted);
}
section table {
  border-collapse: collapse;
}
section table > thead > tr > td,
section table > thead > tr > th,
section table > tbody > tr > td,
section table > tbody > tr > th {
  padding: 0.15em 0.5em;
}
section table > thead > tr > td,
section table > thead > tr > th {
  border: 1px solid var(--color-table-border);
  border-bottom: 3px solid var(--color-table-border);
}
section table > thead {
  text-align: left;
}
section table > tbody > tr,
section table td {
  border-left: 1px solid var(--color-table-border);
  border-right: 1px solid var(--color-table-border);
}
section table > tbody > tr > td,
section table > tbody > tr > th {
  border-bottom: 1px solid var(--color-table-border);
}
section table tr:nth-child(2n) {
  background-color: var(--color-background-table-odd);
}
section .tableBlue {
  width: 100%;
}
section .tableBlue > table {
  width: 100%;
}
section .tableBlue > table > thead > tr > td,
section .tableBlue > table > thead > tr > th,
section .tableBlue > table > tbody > tr > td,
section .tableBlue > table > tbody > tr > th {
  padding: 0.15em 0.5em;
}
section .tableBlue > table > thead > tr > td,
section .tableBlue > table > thead > tr > th {
  border: 1px solid var(--color-blue-table-border);
  border-bottom: 3px solid var(--color-blue-table-border);
}
section .tableBlue > table > thead {
  text-align: left;
}
section .tableBlue > table > tbody > tr,
section .tableBlue > table td {
  border-left: 1px solid var(--color-blue-table-border);
  border-right: 1px solid var(--color-blue-table-border);
}
section .tableBlue > table > tbody > tr > td,
section .tableBlue > table > tbody > tr > th {
  border-bottom: 1px solid var(--color-blue-table-border);
}
section .tableBlue > table tr {
  background-color: var(--color-blue-table-background);
}
section .tableBlue > table tr:nth-child(2n) {
  background-color: var(--color-blue-table-background-odd);
}
section .tableGreen {
  width: 100%;
}
section .tableGreen > table {
  width: 100%;
}
section .tableGreen > table > thead > tr > td,
section .tableGreen > table > thead > tr > th,
section .tableGreen > table > tbody > tr > td,
section .tableGreen > table > tbody > tr > th {
  padding: 0.15em 0.5em;
}
section .tableGreen > table > thead > tr > td,
section .tableGreen > table > thead > tr > th {
  border: 1px solid var(--color-green-table-border);
  border-bottom: 3px solid var(--color-green-table-border);
}
section .tableGreen > table > thead {
  text-align: left;
}
section .tableGreen > table > tbody > tr,
section .tableGreen > table td {
  border-left: 1px solid var(--color-green-table-border);
  border-right: 1px solid var(--color-green-table-border);
}
section .tableGreen > table > tbody > tr > td,
section .tableGreen > table > tbody > tr > th {
  border-bottom: 1px solid var(--color-green-table-border);
}
section .tableGreen > table tr {
  background-color: var(--color-green-table-background);
}
section .tableGreen > table tr:nth-child(2n) {
  background-color: var(--color-green-table-background-odd);
}
section blockquote {
  font-size: 90%;
  line-height: 1.3;
  padding: 0 2em;
  position: relative;
  z-index: 0;
  width: min-content;
}
section blockquote::before, section blockquote::after {
  content: url("https://assets.nbeij.nl/marp/assets/quote.svg");
  height: auto;
  pointer-events: none;
  position: absolute;
  width: 1em;
  z-index: -1;
  background-color: var(--color-highlight-heading);
  -webkit-mask-image: url("https://assets.nbeij.nl/marp/assets/quote.svg");
  mask-image: url("https://assets.nbeij.nl/marp/assets/quote.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
section blockquote::before {
  left: 0;
  top: 0;
}
section blockquote::after {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
section blockquote > *:last-child {
  margin-bottom: 0;
}
section blockquote p {
  width: min-content;
}
section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  margin: 15px 0 30px;
  color: var(--color-highlight-heading);
}
section h1 strong,
section h2 strong,
section h3 strong,
section h4 strong,
section h5 strong,
section h6 strong {
  font-weight: inherit;
}
section h1::part(auto-scaling),
section h2::part(auto-scaling),
section h3::part(auto-scaling),
section h4::part(auto-scaling),
section h5::part(auto-scaling),
section h6::part(auto-scaling) {
  max-height: 660px;
}
section h1 {
  font-size: 2em;
}
section h2 {
  font-size: 1.7em;
}
section h3 {
  font-size: 1.4em;
  letter-spacing: 2px;
}
section h4 {
  font-size: 1.2em;
  letter-spacing: 2px;
}
section h5 {
  font-size: 1em;
  letter-spacing: 1px;
}
section h6 {
  font-size: 0.8em;
  letter-spacing: 1px;
}
section ul,
section ol {
  text-align: left;
}
section > ul,
section > ol {
  margin-bottom: 15px;
}
section mark {
  background-color: var(--color-highlight-heading);
  color: var(--color-highlight-text);
  padding: 0.2em;
  display: inline-block;
  position: relative;
  padding-left: 5rem;
}
section mark::before {
  content: "";
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
section mark.error {
  background-color: var(--color-highlight-error);
  border-radius: 10px;
  border: 3px solid var(--color-highlight-error-border);
}
section mark.error::before {
  background: url("https://assets.nbeij.nl/marp/assets/errorIcon.svg") no-repeat center center/contain;
}
section mark.warning {
  background-color: var(--color-highlight-warning);
  border-radius: 10px;
  border: 3px solid var(--color-highlight-warning-border);
}
section mark.warning::before {
  background: url("https://assets.nbeij.nl/marp/assets/warningIcon.svg") no-repeat center center/contain;
}
section mark.success {
  background-color: var(--color-highlight-success);
  border-radius: 10px;
  border: 3px solid var(--color-highlight-success-border);
}
section mark.success::before {
  background: url("https://assets.nbeij.nl/marp/assets/successIcon.svg") no-repeat center center/contain;
}
section mark.info {
  background-color: var(--color-highlight-info);
  border-radius: 10px;
  border: 3px solid var(--color-highlight-info-border);
}
section mark.info::before {
  background: url("https://assets.nbeij.nl/marp/assets/infoIcon.svg") no-repeat center center/contain;
}
section mark.question {
  background-color: var(--color-highlight-info);
  border-radius: 10px;
  border: 3px solid var(--color-highlight-info-border);
}
section mark.question::before {
  background: url("https://assets.nbeij.nl/marp/assets/questionIcon.svg") no-repeat center center/contain;
}
section .challenge {
  display: inline-block;
  position: relative;
  padding: 1rem;
  height: 100%;
  background-color: var(--color-background-table-odd);
  border-radius: 10px;
  border: 3px solid var(--color-table-border);
}
section .challenge p {
  margin-top: 0;
}
section footer {
  position: absolute;
  bottom: 0;
  right: 10px;
  padding: 0.5rem 1rem;
  color: var(--color-background);
  font-size: 1.2rem;
  z-index: 10;
}
section footer img {
  height: 2rem;
}
section footer a {
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 4rem;
  display: inline-block;
}
section::after {
  color: var(--color-text-muted);
  position: absolute;
  bottom: -10px;
  left: -40px;
  font-size: 1.3rem;
}
section:has(h1) {
  justify-content: center;
  text-align: center;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 50%;
}
section:has(h1) footer {
  display: block;
}
section mjx-container {
  width: fit-content;
}

/*# sourceMappingURL=theme.css.map */
